@import "settings";
@import "foundation";
/*MY STYLES*/
.row{
  max-width: 80rem;
}
#header{ height: 60px; padding: 0px; font-size:0.875rem ; color: #3C3C3B; position: relative;
  .logo{ float: left; padding: 10px 0 0 0;}
  .nav{
    ul{ list-style: none; float:left; margin: 0 20px 0 0;}
    li{ float: left; list-style: none; padding: 10px; height: 60px; &:hover{
      background: #f9f9f9;}
      a{ font-size: 0.875em; color: #3C3C3B; height:50px; padding: 10px 0 0 0; position: relative; display:block; overflow: hidden; width:100%; border-right:1px solid dotted #3C3C3B; &:hover{
        color: #999;
      }
      }
    }
    .social{ float: left; padding: 15px 10px 0 10px; border-left: 1px solid #ddd; border-right: 1px solid #ddd; height: 60px;
      a{ padding: 0 5px;}
    }
    .search{ float: right; position: relative; right: 0; height:60px; width:60px;
      a{
        position: absolute; height: 100%; width:100%; background: url("../img/search.png") center no-repeat;
        &:hover{ background: #f9f9f9 url("../img/search.png") center no-repeat;;}
        img{ width: 32px; height: 32px;}
      }
    }
  }
  img{ vertical-align: middle;}
}
/**/
#slider{
  .row{
   max-width:none;
}
.example-orbit div{ background: url("../img/slider_bg.png") left top no-repeat;
color: rgb(255, 255, 255);
position: absolute;
width: 705px;
height: 375px;


padding: 1rem 4rem;

h2{ color: #fff;}
p{ font-size: 1.1rem}
}
}
/**/
.orbit-container .orbit-slides-container{
  overflow: hidden;
  max-height: 520px !important;
}
.orbit-container .orbit-slides-container img{ width: 100%;}
/**Universal selectors**/
h3{ font-size: 1rem; font-weight: 600;}
  p{ font-size: 14px; font-weight: 400;}
  .button{ background: #19296C;}
/*products grid*/
#products{
  .img{ 
   img{ width:100%;}
  }
  .content{
  padding:10px; background:#EBEBEB; border-bottom: 2px solid #f00;
  a.button{ margin:0 auto; display:block; width:105px;}
  }
}
/**/
#info{
  .columns{ padding: 0 0.7rem 0 0.9rem;}
 .wrapper{background:#EBEBEB; display: block; overflow: hidden; border-left: 2px solid #f00; padding: 5px 0 0 0;}
  li{ }
  .img, .open{ 
    margin-top: 40px; height:100px;
  img{ vertical-align: center;}
}
}
/****/
#notice{
  h2{ font-size:0.95rem; font-weight: 600; line-height: 65px;}
  .wrapper{ background:#EBEBEB; display: block; overflow: hidden; border-left: 2px solid #f00; padding: 5px 0 0 0;}
  p{ margin: 3px 0 0 0;}
   .img, .open{ 
    margin-top: 15px; height:30px;
  img{ vertical-align: center;}
}
}
/****/
#navM {
  background: #EBEBEB;
  margin-bottom: 30px;
  a{font-weight: 400; font-size: 1rem; padding: 0 0.75rem; color: #19296C;}
.active{ 
a{ background: none;  font-weight: 600; color: #f00; &:hover{ cursor:pointer;};
  }}
  .sub-nav {
    margin: 10px auto;
    padding-top: 4px;
  }
}
/****/

.home {
  .orbit-container .orbit-timer {
    display: none;
  }
}

/** Footer **/
.footer {
    border-top: 3px solid #d41117;
    padding-top: 20px;
    background-color: #3d437b;

    .vcard {
      color: #ffffff;
      border: none;
      padding: 0.625em 0;

      a, .tel {
        color: #5c686f;
        font-weight: bold;
      }
    }

    a {
      color: #bcbec0;       
      font-size: 0.9em;
    }

    p, li {
      font-size: 0.8em;
    }

    .links {
      li {
        margin-bottom: 0px;
        padding-bottom: 0px;
      }
    }

    h6, p {
      color: #ffffff;
      font-weight: 300;
      margin-top: 8px;
    }

    p {
      margin-bottom: 0.5em;
    }

    .signup {
      background-color: rgb(212, 14, 20);
    }
}

.copyright {
  background-color: #202767;

  p {
    color: #ffffff;
    font-size: .8em;
    padding: 0.9em 0;
    margin-bottom: 0px;

    a {
      color: #ffffff;
    }
  }
}

.contact_us {
  .search_bar {
    background: #EBEBEB;
    width: 100%; display: block; clear: both; margin-bottom: 20px;

    label.instruction {
      padding-top: 20px;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    .search_form {
      border-left: 1px solid #929497;
      padding-top: 10px;
      padding-bottom: 10px;

      input {
        margin-bottom: 0px;
      }

      input[type="text"] {
        height: 2rem;
        margin-bottom: 0px;
      }

      label {
        margin-bottom: 0px;
      }
    }
  }
}

article h5 {
  font-weight: 600;
  color: rgb(212, 14, 20);
  margin-top: 15px;
}


article ul {
  list-style: none;
  margin-left: 0px;
}
article .large-12{ padding: 10px; display: block; overflow: hidden; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
article .large-12 .button{ margin:0;}
article .large-12 p{ float: left; margin:5px 50px 0 0;}
.about_us {
  .content {
    margin: 3em 0 3em 0;
  }
}
/*other products*/
.others{ clear: both; display: block; overflow: hidden;}
.others img{ border-bottom: 2px solid #f00;}
.others h5{ margin-top: 20px;}
.others li h5{ font-weight: 600; font-size: 13px; text-align: center;}
/**map_container**/
.map_container{
 max-height: 340px; display: block; overflow: hidden; margin-bottom: 20px;
  img{ width: 100%;}
}
/*locations*/
#locations{

  .wrapper{ background:#EBEBEB; display:block; overflow:hidden; border-left: 2px solid #f00; padding: 5px 0 0 0;}
.img{ margin-top: 66px;}
}



.banner{
  width: 100%;
  height: 160px;
  overflow: hidden;
  position: relative;
  min-height: 120px;

  img {
    width: 100%

  }

  .text {
    position: absolute;
    bottom: 20px;
    left: 30px;
  }
}

.banner-search {
  background: rgb(61, 67, 123);
  width: 100%;
  height: 160px;

  .text {
    color: #fff;
    padding-top: 120px;
    padding-left: 1em;
  }
}

.content-search h5 {
  color: rgb(61, 67, 123);
  padding-left: 1em;
}

.content-search h4 {
  color: rgb(61, 67, 123);
}

.content-search p {
  padding-left: 1em;
}

.prod {
  border-bottom: 1px solid #aaa;
  margin-bottom: 2em;
}